*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.idea/modules.xml
.idea/modules.xml
.idea/misc.xml
Project Report/CSC470-Project-Template.toc
*.bbl
Project Report/CSC470-Project-Template.blg
Project Report/CSC470-Project-Template.synctex.gz
*.log
Project Report/CSC470-Project-Template.synctex.gz